{% extends 'base.html' %}

{% block content %}

<ul>
  <table class="task_table">
    {% for task in tasks %}
    <tr>
      <td>
        <li><a href="{% url 'task_detail' task.id %}">{{ task }}</a></li>
      </td>
      <td>
        <form method="post">
          {% csrf_token %}
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</ul>

<form method="post">
  {% csrf_token %}
  <input type="submit" value="Add new task"/>
</form>
{% endblock %}
